WebServiceDemo/WebContent/wsdl/First.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://com" xmlns:intf="http://com" xmlns:tns1="http://model.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://model.com"/>
   <element name="cal">
    <complexType>
     <sequence>
      <element name="num1" type="xsd:int"/>
      <element name="num2" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="calResponse">
    <complexType>
     <sequence>
      <element name="calReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="one">
    <complexType/>
   </element>
   <element name="oneResponse">
    <complexType>
     <sequence>
      <element name="oneReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getStudentById">
    <complexType>
     <sequence>
      <element name="stdId" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getStudentByIdResponse">
    <complexType>
     <sequence>
      <element name="getStudentByIdReturn" type="tns1:Student"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://model.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Student">
    <sequence>
     <element name="stdId" type="xsd:int"/>
     <element name="stdName" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getStudentByIdRequest">

      <wsdl:part element="impl:getStudentById" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="oneResponse">

      <wsdl:part element="impl:oneResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="calRequest">

      <wsdl:part element="impl:cal" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="calResponse">

      <wsdl:part element="impl:calResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getStudentByIdResponse">

      <wsdl:part element="impl:getStudentByIdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="oneRequest">

      <wsdl:part element="impl:one" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="First">

      <wsdl:operation name="cal">

         <wsdl:input message="impl:calRequest" name="calRequest">

       </wsdl:input>

         <wsdl:output message="impl:calResponse" name="calResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="one">

         <wsdl:input message="impl:oneRequest" name="oneRequest">

       </wsdl:input>

         <wsdl:output message="impl:oneResponse" name="oneResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getStudentById">

         <wsdl:input message="impl:getStudentByIdRequest" name="getStudentByIdRequest">

       </wsdl:input>

         <wsdl:output message="impl:getStudentByIdResponse" name="getStudentByIdResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="FirstSoapBinding" type="impl:First">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="cal">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="calRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="calResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="one">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="oneRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="oneResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getStudentById">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getStudentByIdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getStudentByIdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="FirstService">

      <wsdl:port binding="impl:FirstSoapBinding" name="First">

         <wsdlsoap:address location="http://localhost:9090/WebServiceDemo/services/First"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
